body{
    margin: 0;
    padding: 0;

}

.square{
    width: 200px;
    height: 200px;
    background: red;
}

.rectengel{
    background: greenyellow;
    height: 200px;
    width: 400px;
}

.circle{
    background: hotpink;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.oval{
    background: grey;
    width: 200px;
    height: 100px;
    border-radius: 100px/50px;
}

.triangleup{
    height: 0;
    width: 0;
    border-bottom: 200px solid indigo;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;

}

.triangledown{
    height: 0;
    width: 0;
    border-top: 200px orangered;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;

}

.sobuj{
    background: green;
    height: 250px;
    width: 500px;
    position: relative;

}
.lal{
    height: 150px;
    width: 150px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}